<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title th:text="#{login.title}">Login</title>
	
	<link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>

	<div class="container">
		<div class="info-container">
			<h2 class="form-signin-heading" th:text="#{login.headline}">
			 	Please sign in
		    </h2>
			<div th:if="${loginError}" th:class="'alert alert-danger'" class="alert alert-danger" th:text="#{login.error}">
	            Wrong username or password
	        </div>
        </div>
		<form th:action="@{/login/check}" class="form-signin" method="post" role="form">
			<input id="j_username" name="j_username" type="text"
				class="form-control" th:placeholder="#{login.username}" />
			<input
				id="j_password" name="j_password" type="password"
				class="form-control" th:placeholder="#{login.password}" />
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				th:text="#{login.signin}">Sign in</button>
		</form>

	</div>
</body>
</html>
